{% extends 'admin/base.html.twig' %}
{% block title %}Edit Acteur{% endblock %}

{% block body %}
    <main class="main">
        <ol class="breadcrumb">
        </ol>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <i class="fa fa-align-justify"></i>Editer un realisateur</div>
                        <div class="card-body">


                            {{ include('admin/realisateur/_form.html.twig', {'button_label': 'Update'}) }}

                            <a href="{{ path('admin.realisateur.index') }}">back to list</a>
                            {{ include('admin/realisateur/_delete_form.html.twig') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
{% endblock %}
