<div class="film-link" style="display:none">
    <img src="http://fr.web.img5.acsta.net/pictures/17/01/09/06/34/543561.jpg">
    <span>Charlie et la cholocolaterie</span>
</div>
<div class="form-search-admin">
    <label for="nameAsset">Nom de films/séries</label>
    <input id="nameAsset" type="text" class="form-control">
</div>
<div class="custom-select-films" style="display:none;">
    <h5>Cliquez sur le film pour faire le link</h5>
   <div data-filmid="784">
       <img src="http://fr.web.img5.acsta.net/pictures/17/01/09/06/34/543561.jpg">
       <span>Charlie et la cholocolaterie</span>
   </div>
    <div data-filmid="456">
        <img src="http://fr.web.img5.acsta.net/pictures/17/01/09/06/34/543561.jpg">
        <span>Charlie et la rkezldsmf</span>
    </div>


</div>
<style>
    .custom-select-films{
        width: 100%;
        height:auto;
        margin-top:20px
    }
    .custom-select-films div, .film-link{
        cursor:pointer;
        margin-bottom:10px;
        background:#E4E5E6;
        padding:10px;
    }
    .custom-select-films div:hover{
        background: #c1c1c1;
    }
    .custom-select-films img, .film-link img{
        width:15%;
    }

</style>