<footer class="footer-area">

    <!-- Main Footer Area -->
    <div class="main-footer-area">
        <div class="container">
            <div class="row">

                <!-- Footer Widget Area -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="footer-widget-area">
                        <!-- Footer Nav -->
                        <div class="footer-nav">
                            <ul>
                                <li class="active"><a href="#">Top 10</a></li>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="#">Funny</a></li>
                                <li><a href="#">Advertising</a></li>
                                <li><a href="#">Celebs</a></li>
                                <li><a href="#">Lifestyle</a></li>
                                <li><a href="#">Videos</a></li>
                                <li><a href="#">Travel</a></li>
                                <li><a href="#">Features</a></li>
                                <li><a href="#">Submit a video</a></li>
                                <li><a href="#">Don’tMiss</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <!-- Newsletter Widget -->
                    <div class="newsletter-widget">
                        <h4>Abonne toi à notre <br>newsletter</h4>
                        <form action="#" method="post">
                            <input type="email" name="email" placeholder="email">
                            <button type="submit" class="btn w-100">S'abonner</button>
                        </form>
                    </div>
                </div>

                <!-- Footer Widget Area -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="footer-widget-area">
                        <!-- Widget Title -->
                        <h4 class="widget-title">Derniers films ajoutés</h4>

                        <!-- Single Latest Post -->
                        <div class="single-blog-post style-2 d-flex align-items-center">
                            <div class="post-thumb">
                                <a href="#"><img src="https://m.media-amazon.com/images/M/MV5BNDg1NTU2OWEtM2UzYi00ZWRmLWEwMTktZWNjYWQ1NWM1OThjXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_.jpg" alt=""></a>
                            </div>
                            <div class="post-data">
                                <a href="#" class="post-title">
                                    <h6>Transformes 6 - La relique du temps</h6>
                                </a>
                            </div>
                        </div> <!-- Single Latest Post -->
                        <div class="single-blog-post style-2 d-flex align-items-center">
                            <div class="post-thumb">
                                <a href="#"><img src="https://m.media-amazon.com/images/M/MV5BNDg1NTU2OWEtM2UzYi00ZWRmLWEwMTktZWNjYWQ1NWM1OThjXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_.jpg" alt=""></a>
                            </div>
                            <div class="post-data">
                                <a href="#" class="post-title">
                                    <h6>Transformes 6 - La relique du temps</h6>
                                </a>
                            </div>
                        </div>
                        <!-- Single Latest Post -->
                        <div class="single-blog-post style-2 d-flex align-items-center">
                            <div class="post-thumb">
                                <a href="#"><img src="https://m.media-amazon.com/images/M/MV5BNDg1NTU2OWEtM2UzYi00ZWRmLWEwMTktZWNjYWQ1NWM1OThjXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_.jpg" alt=""></a>
                            </div>
                            <div class="post-data">
                                <a href="#" class="post-title">
                                    <h6>Transformes 6 - La relique du temps</h6>
                                </a>
                            </div>
                        </div>
                        <!-- Single Latest Post -->
                        <div class="single-blog-post style-2 d-flex align-items-center">
                            <div class="post-thumb">
                                <a href="#"><img src="https://m.media-amazon.com/images/M/MV5BNDg1NTU2OWEtM2UzYi00ZWRmLWEwMTktZWNjYWQ1NWM1OThjXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_.jpg" alt=""></a>
                            </div>
                            <div class="post-data">
                                <a href="#" class="post-title">
                                    <h6>Transformes 6 - La relique du temps</h6>
                                </a>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bottom Footer Area -->
    <div class="bottom-footer-area">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <!-- Copywrite -->
                    <p><a href="#"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script></a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                </div>
            </div>
        </div>
    </div>
</footer>
