<div class="col-12 col-lg-4">
        <div class="sidebar-area">

        <!-- Newsletter Widget -->

        <!-- Trending Articles Widget -->
        <div class="treading-articles-widget">
            <h4>Le top 10</h4>
            <div class="filtre-top">
                <span class="top-site bg-films font-size-14 text-uppercase">Films</span>
                <span class="top-site bg-series font-size-14 text-uppercase">Séries</span>
                <span class="top-site bg-animes font-size-14 text-uppercase">Animés</span>
            </div>
            <!-- Single Trending Articles -->
            <div class="single-blog-post style-4">
              <ul id="data-top">
                  <li data-data="fims"><a href="#" class="text-bold color-black font-size-14"><div class="top-site bg-films">1</div> Harry Potter et la chambre des secrets</a></li>
                  <li data-data="fims"><a href="#" class="text-bold color-black font-size-14"><div class="top-site bg-films">2</div> Harry Potter et la chambre des secrets</a></li>
                  <li data-data="fims"><a href="#" class="text-bold color-black font-size-14"><div class="top-site bg-films">3</div> Harry Potter et la chambre des secrets</a></li>
                  <li data-data="fims"><a href="#" class="text-bold color-black font-size-14"><div class="top-site bg-films">4</div> Harry Potter et la chambre des secrets</a></li>
                  <li data-data="fims"><a href="#" class="text-bold color-black font-size-14"><div class="top-site bg-films">5</div> Harry Potter et la chambre des secrets</a></li>
                  <li data-data="fims"><a href="#" class="text-bold color-black font-size-14"><div class="top-site bg-films">6</div> Harry Potter et la chambre des secrets</a></li>
                  <li data-data="fims"><a href="#" class="text-bold color-black font-size-14"><div class="top-site bg-films">7</div> Harry Potter et la chambre des secrets</a></li>
                  <li data-data="fims"><a href="#" class="text-bold color-black font-size-14"><div class="top-site bg-films">8</div> Harry Potter et la chambre des secrets</a></li>
                  <li data-data="fims"><a href="#" class="text-bold color-black font-size-14"><div class="top-site bg-films">9</div> Harry Potter et la chambre des secrets</a></li>
                  <li data-data="fims"><a href="#" class="text-bold color-black font-size-14"><div class="top-site bg-films">10</div> Harry Potter et la chambre des secrets</a></li>
              </ul>
            </div>


        </div>

        <!-- Add Widget
        <div class="add-widget mb-70">
            <a href="#"><img src="img/bg-img/add.png" alt=""></a>
        </div>

      -->

    </div>
</div>